@charset "UTF-8";



input[type=file]{display: none;}
#msg{display: block;color: red; font-size: 12px;padding: 0.5em;}
.img-area{
	display:inline-flex;
	width: 100px;
	height: 100px;
	justify-content: center;
	align-items: center;
	border: 1px dotted #a9a9a9;
	background-color: rgba(0,255,255, 0.2);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}