<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	th:replace="layout/layout1 :: layout(~{::head},~{::main})">
	<head>
		<!-- include libraries(jQuery, bootstrap) -->
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<!-- include summernote css/js -->
		<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
		<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
		
		<link rel="stylesheet" href="/css/myboard/list.css">
		<script type="text/javascript">
			$(function() {
				$('#summernote').summernote();
			});
			
			function clickedBtnUpdate() {
				$('.detail-default').hide();
				$('.detail-update').show().css('display','flex');
			}
			
			function clickedBtnCancel(){
				$('.detail-default').show().css('display','flex');
				$('.detail-update').hide();
			}
		</script>
	</head>
	<main>
		<h1>메인영역</h1>
		<div class="wrap view-size">
			<section id="detail">
				<h1>게시글내용</h1>
				<div class="wrap">
					<p class="tit">마이게시글 상세페이지</p>
					<dl class="flex">
						<dt>글번호</dt>
						<dd th:text="${detail.bno}">글번호데이터</dd>
					</dl>
					<dl class="flex">
						<dt>최종수정일</dt>
						<dd th:text="${detail.updatedDate}"></dd>
					</dl>
					<dl class="flex">
						<dt>작성자</dt>
						<dd th:text="${detail.writer}"></dd>
					</dl>
					<!-- ////////form-start//////// -->
					<form th:action="@{|/my-board/${detail.bno}|}" method="post">	
						<!-- ////////제목//////// -->
						<dl class="flex">
							<dt>제목</dt>
							<dd>
								<div class="detail-default">
									<span th:text="${detail.title}"></span>
									(<span th:text="${detail.readCount}"></span>)
								</div>
								<div class="detail-update">
									<input type="text" name="title" th:value="${detail.title}">
								</div>
							</dd>
						</dl>
						<!-- ////////상세//////// -->
						<dl>
							<dt>상세정보</dt>
							<dd>
								<div class="detail-default" th:utext="${detail.content}">
								</div>
								<div class="detail-update">
									<textarea id="summernote" name="content">[(${detail.content})]</textarea>					
								</div>
							</dd>
						</dl>
						<!-- ////////버튼//////// -->
						<div class="flex center detail-update">
							<input type="hidden" name="_method" value="PUT">
							<button type="submit">완료</button>
							<button type="button" onclick="clickedBtnCancel()">취소</button>
						</div>
					</form>
					<!-- ////////form-end//////// -->
					
					<div class="flex center detail-default">
						<a href="/my-board"><button type="button">목록보기</button></a>
						<button type="button" onclick="clickedBtnUpdate()">수정</button>
						<!-- js의 백틱(`)내부에 변수사용하는거랑 비슷하다 -->
						<form th:action="|/my-board/${detail.bno}|" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit">삭제</button>
						</form>
					</div>
				</div>
			</section>
		</div>
	</main>
</html>